.container>img{
    width: 1350px;
}
.container>h3{
    text-align: center;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.top1{
    display: flex;
    justify-content: space-evenly;
}
.top1>img{
    width: 435px;

}
.top2>img{
    width: 100%;
    margin: 10px 0;
}
.top3{
    display: flex;
    justify-content: center;
}
.top3 img{
    width: 130px;
    padding: 12px;
}
.top3 p{
    text-align: center;
    font-size: 12px;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.top4{
    display: flex;
}
.top4>img{
    width: 667px;
}
.top5{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}.top5>img{
    width: 219px;
    margin: auto;
}
.top6{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
}
.top6>img{
    width: 662px;
}
.top7{
    display: flex;

}
.top7>img{
    width: 222px;
}
.top8{
    display: flex;
    gap: 5px;
}
.top8>img{
    width: 441px;
}
.top9{
    display: flex;
}
.top9>img{
    width: 223px;
}
.top10{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 10px;
}
.top10>img{
    width: 662px;
}
footer{
    background-color: #181818;
    height: 1000px;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.inside1{
    width: 85%;
    height: 200px;
    margin: auto;
    /* background-color: bisque; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.bottom4in{
    display: flex;
}
.bottom4 input{
    border: none;
    border-bottom: 1px solid #fdd835;
    background-color: #181818;
}
.bottom4>.bottom4in>button{
    background-color: #fdd835;
    color: #181818;
    padding: 10px 25px;
    border: none;
}
footer h4{
    color: #fdd835;
    font-size: 12px;
    padding: 10px 0;
}
footer p{
    color: white;
    margin:  5px 0px;
    font-size: 12px;
}
.inside2{
    width: 63%;
    height: 170px;
    margin-left: 98px;
    /* background-color: bisque; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.inside2-bottom2-div1{
    display: flex;
}
.inside2-bottom2-div1 img{
    width: 100px;
}
.inside2-bottom1{
    padding: 10px 0
}
footer h2{
    margin: 10px 0 10px 102px;
    color: #fdd835;
    padding-top: 25px;
}
@media  only screen and (min-width: 768px) and (max-width: 1024px) {
    .top2>img {
        width: 100%;
        margin: 10px 0;
        }
        .top1>img {
            width: 248px;
        }
        .top3 img {
            width: 79px;
            padding: 12px;
        }
        .top4>img {
            width: 392px;
        }
        

    .top5>img {
         width: 126px;
        margin: auto;
    }
    .top6>img {
        width: 377px;
    }
    .top7>img {
        width: 129px;
    }
    .top8>img {
        width: 253px;
    }
    .top9>img {
        width: 129px;
    }
    .top10>img {
        width: 384px;
    }
    .container>img {
        width: 781px;
    }
    
}