/* body{
    width: 80%; 
   margin: auto;
} */
.grandparent{
   width: 85%;
   margin: auto;
}
.parent{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-evenly;
    
    
}
.pics{
    display: flex; 
    /* border: 1px solid;  */
    border-color: red;
    /* position: fixed; */
    /* margin-left: -800px; */
    margin-right: 20px;
    /* float: left; */
}
.small_image{
    max-width: 10%;
    margin-top: 20px;
}
.small_image>div{
    padding: 5px;
    
}
.small_image>div>img{
    width: 90px;
    cursor: pointer;
}
#big_image{
    width: 70%;
    padding-left: 50px;
    padding-right: -30px;
   
}
#big_image img{
    width: 420px;
    height: 560px;
    
}

.product_desc{ 
    /* border: 1px solid blue; */
   width: 47%;
   /* position: absolute;
   
   overflow: auto; */
   /* height: 400px; */
   /* margin-right: 30px; */
   /* margin-left: 500px; */
   padding: 20px;
   background-color: transparent;
}
#price{
    display: flex;
    align-items: center;
    text-align: center;
}
#clr_opt{
    display: flex;
    cursor: pointer;
    padding-bottom: -80px;
}
#clr_opt img{
    width: 40%;
   padding: -10px;
}
#product_size{
    display: flex;
}

#product_size_option {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 35px;
}
#product_size_option p{
    border: 1px solid;
    border-radius: 5px;
    padding: 16px;
    cursor: pointer;
}
#product_size_option p:hover{
    border-color: rgb(89, 0, 255);
   
}
.add_product{
    display: flex;
  align-items: center;
  justify-content: space-between;
  
}
 #btn1 button{
    padding: 10px 5px;
    background-color: 
    #fdd835;
    
    border: none;
    width:220%;
    cursor: pointer;

 }
 #toCheck{
    padding: 10px 5px;
    background-color: 
    #fdd835;
    
    /* border: none; */
    width:30%;
    cursor: pointer;

 }
 #btn2 button{
    padding: 10px;
    border: 1px solid grey;
    /* color: gray; */
    width: 100%;
    border: 1px;
    /* border-color: rgb(139, 133, 133); */
    margin-right: 100px;
    cursor: pointer;
 }
 #toCheck2 {
    padding: 10px;
    border: none;
    color: gray;
    background-color: #f6f6f5;
    width: 43%;
    border: 1px;
    border-color: rgb(139, 133, 133);
    margin-right: 25px;
    cursor: pointer;
}
#recnt_img{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4,1fr);
    gap :10px;
    /* margin-left: 80px; */
    /* margin-top: 800px; */
    margin-bottom: 200px;
  
}
#recnt_img img{
    width: 100%;
    height: 70%;
    cursor: pointer;
}

#recent img:hover{
    opacity: 0.8;
}

#price{
    display: flex;
}
#descp>ul>div{
    padding-bottom: 8px;
    width: 100%;
}
#descp>ul>div>li{
    color: rgb(94, 94, 94);
}
#main_parent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}